name: Delete Development

on:
  pull_request:
    types: [closed]

jobs:
  closed:
    runs-on: ubuntu-latest
    steps:
      - name: Delete development app
        uses: digitalocean/app_action/delete@v2
        with:
          from_pr_preview: "true"
          ignore_not_found: "true"
          token: ${{ secrets.DO_APP_PLATFORM_TOKEN }}